@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-weight: 400;
}
  
body {
  background-color: rgb(255, 255, 255);
  margin: 0;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  color: rgb(73, 73, 73);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}

main {
  max-width: 90%;
  margin: 20px auto 0 auto;
  padding: 0;
}

a {
    text-decoration: none;
    transition: 300ms;
}


a:hover {
    text-decoration: none;
    transition: 300ms;
}

section {
    scroll-margin-top: 100px;
}










/* Header */

#bootstrap-overrides .navbar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    padding: 10px 30px;
    width: 100%;
    background-color: rgba(255, 255, 255);
    font-weight: 900;
    margin-bottom: 50px;
    border-bottom: 1px solid #E8CFB1;
}

#bootstrap-overrides .navbar button {
    outline: none;
}

#bootstrap-overrides .navbar .navbar-brand img {
    max-height: 50px;
}

#bootstrap-overrides .navbar .nav-item {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

#bootstrap-overrides .navbar .nav-link {
    font-weight: 700;
    color: rgb(143, 99, 48);
    transition: 300ms;
}

#bootstrap-overrides .navbar .nav-link:hover {
    color: rgb(215, 150, 74);
    transition: 300ms;
}

#bootstrap-overrides .navbar .nav-link i {
    font-size: 20px;
}


#bootstrap-overrides .navbar ul.navbar-nav.ms-auto.icons-desktop {
    font-size: 20px;
    margin-left: 20px;
}

#bootstrap-overrides .navbar ul.navbar-nav.ms-auto.icons-desktop i {
    font-size: 20px;
}

#bootstrap-overrides .navbar ul.navbar-nav.ms-auto.icons-responsive {
    display: none;
}


#bootstrap-overrides .navbar form {
    margin-left: 10px;
}

#bootstrap-overrides .navbar form button {
    color:rgb(255, 255, 255);
    background-color: rgb(215, 150, 74);
    border: 2px solid rgb(215, 150, 74);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 300ms;
}

#bootstrap-overrides .navbar form button:hover {
    color:rgb(215, 150, 74);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(215, 150, 74);
    transition: 300ms;
}

#bootstrap-overrides .navbar .dropdown-menu {
    padding: 10px;
    border: 1px solid rgb(123, 123, 123, 0.3);
    box-shadow: 0px 0px 22px 0px rgba(123, 123, 123, 0.2);
    -webkit-box-shadow: 0px 0px 22px 0px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0px 0px 22px 0px rgba(123, 123, 123, 0.2);
}


#bootstrap-overrides .navbar .dropdown-menu .dropdown-list {
    width: fit-content;
    margin: 0 50px 0 0;
}

#bootstrap-overrides .navbar .dropdown-menu ul {
    list-style: none;
    padding: 0;
    width: fit-content;
}

#bootstrap-overrides .navbar .dropdown-menu ul.fa-ul {
    margin: 0 10px 0 30px;
}

#bootstrap-overrides .navbar .dropdown-menu ul li span.fa-li {
    line-height: 16px;
    width: fit-content;
}

#bootstrap-overrides .navbar .dropdown-menu ul li i {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 15px;
    color: rgb(229, 165, 88);
}

#bootstrap-overrides .navbar .dropdown-menu ul li a {
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 700;
    color: rgb(116, 67, 11);
}

@media screen and (min-width:993px) {
    #bootstrap-overrides .navbar .dropdown:hover .dropdown-menu {
        display: flex;
    }
    #bootstrap-overrides .navbar .dropdown-menu.show {
        display: flex;
    }
}

@media screen and (max-width:992px) {
    #bootstrap-overrides .navbar .dropdown-menu {
        border: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    #bootstrap-overrides .navbar {
        position: sticky;
        margin: 0;
    }
    #bootstrap-overrides .navbar ul.navbar-nav.ms-auto.icons-desktop {
        display: none;
    }
    #bootstrap-overrides .navbar ul.navbar-nav.ms-auto.icons-responsive {
        display: block;
    }
    #bootstrap-overrides .navbar form {
        margin-left: 0;
    }
    main {
        margin: 0 auto 0 auto;
    }
}

#bootstrap-overrides .navbar .dropdown-menu .dropdown-divider {
    border-top: 1px solid rgb(234, 219, 219);
}

#bootstrap-overrides .navbar .dropdown-menu .dropdown-item {
    padding: 10px;
    font-size: 16px;
    line-height: 16px;
    transition: 300ms;
}

#bootstrap-overrides .navbar .dropdown-menu .dropdown-item:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(215, 150, 74);
    transition: 300ms;
}

#bootstrap-overrides .navbar .dropdown-menu .dropdown-divider {
    margin: 0;
}

#bootstrap-overrides .navbar .navbar-toggler {
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    outline: none;
}








/* Jumbotron */

#my-jumbotron .jumbotron {
    background-image: linear-gradient(rgba(78, 54, 28, 0.7), rgba(60, 37, 11, 0.95)), url(../imgs/top.jpg);
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 0;
    margin-top: 80px;
    color: rgb(255, 255, 255);
    padding: 70px;
}

#my-jumbotron .jumbocontainer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#my-jumbotron .jumbocontainer h1 {
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    margin: 20px auto 20px auto;

}

#my-jumbotron .jumbocontainer p {
    color: rgb(255, 255, 255);
    margin: 20px auto 20px auto;
}

#my-jumbotron .jumbocontainer a {
    margin: 10px auto 20px auto;
    background-color: rgb(215, 150, 74);
    border: 3px solid rgb(215, 150, 74);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 300ms;
}

#my-jumbotron .jumbocontainer a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(143, 99, 48);
    transition: 300ms;
}


@media screen and (max-width:992px) {
    #my-jumbotron .jumbocontainer {
        margin: 0 auto 50px auto;
    }
    #my-jumbotron .jumbocontainer h1 {
        font-size: 50px;
    }
    
    #my-jumbotron .jumbocontainer p {
        font-size: 20px;
    }
    
    #my-jumbotron .jumbocontainer a {
        font-size: 16px;
    }
}











/* Top boxes */

main .top-boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    margin: 70px auto 70px auto;
}

main .top-boxes .box {
    width: 20%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    border: 0;
    border-radius: 10px;
    gap: 10px;

    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
    transition: 300ms;
}

main .top-boxes .box:hover {
    -webkit-box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.4);
    -moz-box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.4);
    box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.4);
    transition: 300ms;
    color: rgb(116, 67, 11);

}

main .top-boxes .box i {
    font-size: 30px;
    width: 25%;
    text-align: center;
    color: rgb(143, 99, 48);
}

main .top-boxes .box .text {
    width: 70%;
}

main .top-boxes .box .text h5 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0 0 5px 0;
    padding: 0;
    color: rgb(116, 67, 11);
    font-family: 'Roboto', sans-serif;
}

main .top-boxes .box .text p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


@media screen and (max-width:968px) {
    main .top-boxes {
        gap: 40px;
    }
    main .top-boxes .box {
        width: 40%;
    }
}

@media screen and (max-width:769px) {

    main .top-boxes .box {
        width: 90%;
    }

    main .top-boxes .box i {
        width: 15%;
    }
    
    main .top-boxes .box .text {
        width: 80%;
    }
}











/* Ofertas */

main .ofertas {
    margin: 20px auto 70px auto;
}

main .ofertas h3 {
    color: rgb(116, 67, 11);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
}

main .ofertas .highlight {
    color: rgb(215, 150, 74);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
}

main a.see-all {
    margin: 20px auto 5px auto;
    width: fit-content;
    display: block;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;

    color: rgb(215, 150, 74);
    transition: 300ms;
}

main a.see-all i {
    padding-left: 5px;
    font-size: 14px;
    font-weight: 700;
}

main a.see-all:hover {
    color: rgb(143, 99, 48);
    transition: 300ms;
}




main .ofertas .productos {
    width: 100%;
    margin: 40px auto 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

main .ofertas .productos .producto {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main .ofertas .productos .producto p.product-title {
    font-weight: 700;
    font-size: 18px;
    margin: 0 auto 0 auto;
    color: rgb(116, 67, 11);
    padding: 0;
    text-align: center;
}

main .ofertas .productos .producto p.cantidad {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px auto 0 auto;
    color: rgb(144, 144, 144);
    padding: 0;
}

main .ofertas .productos .producto img {
    margin: 0 auto 0 auto;
    padding: 0;
    max-width: 100%;
    max-height: auto;
    position: relative;
}

main .ofertas .productos .producto .tag {
    display: block;
    position: absolute;
    top: 80px;
    left: 20px;
    cursor: default;
}

main .ofertas .productos .producto p.tag {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;

    border-radius: 50%;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    display: block;
    background-color: rgb(236, 56, 56);
}

main .ofertas .productos .producto .prices {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 5px auto 5px auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

main .ofertas .productos .producto p.price {
    color: rgb(73, 73, 73);
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 5px auto 10px auto;
    text-align: center;
}

main .ofertas .productos .producto .prices p.price-old {
    text-decoration: line-through;
    color: rgb(152, 152, 152);
    padding: 0;
    font-weight: 400;
    margin-bottom: 5px;
}

main .ofertas .productos .producto .prices p.price-new {
    color: rgb(73, 73, 73);
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}


main .ofertas .productos .producto a.add-to-cart {
    margin: 5px auto 5px auto;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: rgb(215, 150, 74);
    border: 3px solid rgb(215, 150, 74);
    color: rgb(255, 255, 255);
    transition: 300ms;
}

main .ofertas .productos .producto a.add-to-cart i {
    padding-left: 10px;
    font-size: 14px;
}

main .ofertas .productos .producto a.add-to-cart:hover {
    background-color: rgb(143, 99, 48);
    border: 3px solid rgb(143, 99, 48);
    color: rgb(255, 255, 255);
    transition: 300ms;
}

main .ofertas .productos .producto p.sold-out {
    margin: 5px auto 5px auto;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: rgb(184, 184, 184);
    border: 3px solid rgb(184, 184, 184);
    color: rgb(255, 255, 255);
}


main .ofertas .productos .producto a.product-details {
    margin: 5px auto 5px auto;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(215, 150, 74);
    color: rgb(215, 150, 74);
    transition: 300ms;
}

main .ofertas .productos .producto a.product-details i {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

main .ofertas .productos .producto a.product-details:hover {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(143, 99, 48);
    color: rgb(143, 99, 48);
    transition: 300ms;
}

main .ofertas .productos .owl-nav {
    font-size: 40px;
    line-height: 40px;
    width: 98%;
    padding: 0;
    margin: 0 auto 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main .ofertas .productos .owl-nav .owl-prev {
    padding: 0;
    margin: 0;
    font-size: 26px;
    line-height: 26px;
    outline: none;
    color: rgb(143, 99, 48);
    transition: 300ms;
}

main .ofertas .productos .owl-nav .owl-prev:hover {
    background-color: rgb(255, 255, 255);
    border: 0;
    color: rgb(215, 150, 74);
    transition: 300ms;
}

main .ofertas .productos .owl-nav .owl-next {
    padding: 0;
    margin: 0;
    font-size: 26px;
    line-height: 26px;
    outline: none;
    color: rgb(143, 99, 48);
    transition: 300ms;
}

main .ofertas .productos .owl-nav .owl-next:hover {
    background-color: rgb(255, 255, 255);
    border: 0;
    color: rgb(215, 150, 74);
    transition: 300ms;
}

.owl-theme .owl-nav {
    border: 0;
}

main .ofertas .productos .owl-dots {
    text-align: center;
    margin: auto;
    display: block;
    width: 100%;
}

main .ofertas .productos .owl-dots button {
    outline: none;
}


@media screen and (max-width:769px) {
    main .ofertas h3 {
        font-size: 34px;
    }
    
    main .ofertas .highlight {
        font-size: 34px;
    }
    
}





/* CTAs */

main .ctas {
    width: 95%;
    margin: 90px auto 90px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

main .ctas .premium {
    width: 45%;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-image: linear-gradient(rgba(113, 59, 0, 0.8), rgba(63, 37, 6, 0.95)), url(https://www.felfort.com.ar/media/wysiwyg/Banner-Bombones.jpg);
    background-size: cover;
    background-position: center;

    -webkit-box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
    -moz-box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
    box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
}

main .ctas .recetas {
    width: 45%;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-image: linear-gradient(rgba(113, 59, 0, 0.8), rgba(63, 37, 6, 0.95)), url(https://www.felfort.com.ar/media/wysiwyg/Banner-Receta.jpg);
    background-size: cover;
    background-position: center;

    -webkit-box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
    -moz-box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
    box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
}




@media screen and (max-width:1025px) {
    main .ctas {
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    main .ctas {
        flex-flow: column wrap;
        justify-content: center;
        gap: 50px;
    }
    main .ctas .premium {
        width: 100%;
    }
    main .ctas .recetas {
        width: 100%;
    }
}

main .ctas h4 {
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    font-size: 36px;
    text-align: center;
}

main .ctas .highlight {
    color: rgb(232, 207, 177);
    font-family: 'Lobster', cursive;
    font-size: 36px;
    text-align: center;
}

@media screen and (max-width:769px) {
    main .ctas h4 {
        font-size: 32px;
    }
    main .ctas .highlight {
        font-size: 32px;
    }
}

main .ctas p {
    margin: 10px auto 0 auto;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
}

main .ctas a.cta {
    margin: 30px auto 5px auto;
    width: fit-content;
    display: block;
    padding: 10px 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: rgb(215, 150, 74);
    border: 3px solid rgb(215, 150, 74);
    color: rgb(255, 255, 255);
    transition: 300ms;
}

main .ctas a.cta i {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

main .ctas a.cta:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(143, 99, 48);
    transition: 300ms;
}





/* Category boxes */

main .categories {
    margin: 70px auto 70px auto;
}

main .two-box {
    width: 100%;
    margin: 20px auto 70px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    gap: 70px 0;
}

main .box {
    width: 45%;
    margin: 0 auto 0 auto;
}

main .box h4 {
    color: rgb(116, 67, 11);
    font-family: 'Lobster', cursive;
    font-size: 34px;
    text-align: center;
}


main .box a.see-all {
    margin: 10px auto 30px auto;
    padding: 0;
}

main .box .productos {
    width: 100%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

main .box .productos .producto {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

main .box .productos .producto p.product-title {
    font-weight: 700;
    font-size: 18px;
    margin: 0 auto 0 auto;
    color: rgb(116, 67, 11);
    padding: 0;
    text-align: center;
}

main .box .productos .producto p.cantidad {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px auto 0 auto;
    color: rgb(144, 144, 144);
    padding: 0;
}

main .box .productos .producto img {
    margin: 0 auto 0 auto;
    padding: 0;
    max-width: 100%;
    max-height: auto;
    position: relative;
}

main .box .productos .producto p.price {
    color: rgb(73, 73, 73);
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 5px auto 10px auto;
    text-align: center;
}


main .box .productos .producto a.add-to-cart {
    margin: 5px auto 5px auto;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: rgb(215, 150, 74);
    border: 3px solid rgb(215, 150, 74);
    color: rgb(255, 255, 255);
    transition: 300ms;
}

main .box .productos .producto a.add-to-cart:hover {
    background-color: rgb(143, 99, 48);
    border: 3px solid rgb(143, 99, 48);
    color: rgb(255, 255, 255);
    transition: 300ms;
}

main .box .productos .producto a.product-details {
    margin: 5px auto 5px auto;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(215, 150, 74);
    color: rgb(215, 150, 74);
    transition: 300ms;
}

main .box .productos .producto a.product-details i {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

main .box .productos .producto a.product-details:hover {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(143, 99, 48);
    color: rgb(143, 99, 48);
    transition: 300ms;
}

@media screen and (max-width:1367px) {
    main .box .productos .producto {
        width: 48%;
        justify-content: space-between;
    }
    main .box .productos .producto:last-child {
        display: none;
    }
}

@media screen and (max-width:1025px) {
    main .box .productos .producto {
        width: 100%;
        justify-content: center;
    }
    main .box .productos {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
}

@media screen and (max-width:769px) {
    main .two-box {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    main .box {
        width: 100%;
    }
    main .box h4 {
        font-size: 32px;
    }

}



/* Newsletter */

main .newsletter {
    width: 100%;
    margin: 0 auto 70px auto;
    padding: 70px 20px 70px 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-image: linear-gradient(rgba(113, 59, 0, 0.8), rgba(63, 37, 6, 0.95)), url(../imgs/newsletter.jpg);
    background-size: cover;
    background-position: center;

    -webkit-box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
    -moz-box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
    box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
}

main .newsletter .news-contents {
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

main .newsletter .news-contents .news-text {
    width: 48%;
}

main .newsletter .news-contents .news-text h4 {
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    font-size: 36px;
    text-align: left;
}

main .newsletter .news-contents .news-text .highlight {
    color: rgb(232, 207, 177);
    font-family: 'Lobster', cursive;
    font-size: 34px;
    text-align: left;
}

@media screen and (max-width:769px) {
    main .newsletter {
        padding: 50px 20px 50px 20px;
    }
    main .newsletter .news-contents .news-text h4 {
        font-size: 30px;
    }
    main .newsletter .news-contents .news-text .highlight {
        font-size: 30px;
    }
}

main .newsletter .news-contents .news-text p {
    margin: 10px auto 0 auto;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: rgb(255, 255, 255);
}

main .newsletter .news-contents .news-form {
    width: 48%;
    text-align: center;
}

main .newsletter .news-contents .news-form form.newsletter-join input {
    border: 2px solid rgb(184, 184, 184);
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 16px;
    width: 60%;
    outline: none;
}

main .newsletter .news-contents .news-form form.newsletter-join button {
    outline: none;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: rgb(215, 150, 74);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(215, 150, 74);
    width: fit-content;
    transition: 300ms;
}

main .newsletter .news-contents .news-form form.newsletter-join button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(143, 99, 48);
    cursor: pointer;
    transition: 300ms;
}


@media screen and (max-width:1367px) {
    main .newsletter .news-contents {
        flex-flow: column wrap;
        justify-content: center;
        gap: 30px;
    }
    main .newsletter .news-contents .news-text {
        width: 100%;
        text-align: center;
    }
    main .newsletter .news-contents .news-form {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    main .newsletter .news-contents .news-text h4 {
        text-align: center;
    }
    
    main .newsletter .news-contents .news-text .highlight {
        text-align: center;
    }
    main .newsletter .news-contents .news-text p {
        text-align: center;
    }
}


@media screen and (max-width:769px) {
    main .newsletter .news-contents .news-form form.newsletter-join button {
        padding: 5px 10px;
        font-size: 16px;

        display: block;
        margin-left: 0;
        margin: 18px auto 0 auto;
    }

    main .newsletter .news-contents .news-form form.newsletter-join input {
        font-size: 16px;
        width: 80%;

        display: block;
        margin-right: 0;
        margin: 0 auto 18px auto;

    }
    

}




/* Make your own box */

main .make-your-box {
    width: 100%;
    margin: 0 auto 70px auto;
    padding: 90px 20px 90px 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-image: linear-gradient(rgba(113, 59, 0, 0.8), rgba(63, 37, 6, 0.95)), url(../imgs/chocolate-box.jpg);
    background-size: cover;
    background-position: center;

    -webkit-box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
    -moz-box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
    box-shadow: 0px 0px 20px -2px rgba(116, 67, 11, 0.5);
}

main .make-your-box .myo-contents {
    width: 95%;
}

main .make-your-box .myo-contents h4 {
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    font-size: 46px;
    text-align: center;
}

main .make-your-box .myo-contents .highlight {
    color: rgb(232, 207, 177);
    font-family: 'Lobster', cursive;
    font-size: 46px;
    text-align: center;
}

@media screen and (max-width:769px) {
    main .make-your-box {
        padding: 70px 20px 70px 20px;
    }
    main .make-your-box .myo-contents  h4 {
        font-size: 34px;
    }
    main .make-your-box .myo-contents .highlight {
        font-size: 34px;
    }
}

main .make-your-box .myo-contents p {
    margin: 30px auto 0 auto;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
}

main .make-your-box .myo-contents p.tag {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 auto 30px auto;
    background-color: rgb(232, 207, 177);
    color: rgb(143, 99, 48);
    padding: 4px 10px;
    border-radius: 5px;
    width: fit-content;
}

main .make-your-box .myo-contents a.cta {
    margin: 30px auto 5px auto;
    width: fit-content;
    display: block;
    padding: 10px 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: rgb(215, 150, 74);
    border: 3px solid rgb(215, 150, 74);
    color: rgb(255, 255, 255);
    transition: 300ms;
}

main .make-your-box .myo-contents a.cta i {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

main .make-your-box .myo-contents a.cta:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(143, 99, 48);
    transition: 300ms;
}





















/* History */

main .historia {
    width: 100%;
    margin: 90px auto 50px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

main .historia .historia-text {
    width: 45%;
}

main .historia .historia-text h3 {
    color: rgb(116, 67, 11);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
    margin: 0 auto 30px auto;
}

main .historia .historia-text .highlight {
    color: rgb(215, 150, 74);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
    margin: 0 auto 30px auto;
}

main .historia .historia-text p {
    text-align: center;
    font-size: 18px;
    margin: 0 auto 30px auto;
}

main .historia .historia-img {
    width: 45%;
}

main .historia .historia-img img {
    width: 100%;
    border-radius: 10px;
    filter: sepia(60%) contrast(1.3) brightness(95%);
}

@media screen and (max-width:769px) {
    main .historia {
        flex-flow: column wrap;
        justify-content: center;
        gap: 40px;
    }
    
    main .historia .historia-text {
        width: 100%;
    }
    main .historia .historia-img {
        width: 100%;
    }
}




/* Blog section */

main .blog {
    width: 100%;
    margin: 100px auto 50px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main .blog-posts {
    width: 100%;
    margin: 30px auto 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
}

main .blog-posts .blog-post {
    width: 22%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    transition: 300ms;
}

main .blog-posts .blog-post:hover {
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
    transition: 300ms;
    
}

main .blog-posts .blog-post a {
    width: 100%;
    display: block;
}

main .blog-posts .blog-post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0 0;
    margin: 0 auto 20px auto;
}

main .blog-posts .blog-post p.post-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 0 10px 0 10px;
    color: rgb(143, 99, 48);
    transition: 300ms;
}

main .blog-posts .blog-post p.post-title:hover {
    color: rgb(215, 150, 74);
    transition: 300ms;
}

main .blog-posts .blog-post p.post-desc {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0 10px 0 10px;
}

main .blog-posts .blog-post a.see-all {
    margin: 5px auto 25px auto;
}

main .blog .header {
    width: 95%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

main .blog .header .title {
    width: 50%;
    margin: 0 auto 0 auto;
}

main .blog .header .links {
    width: 50%;
    margin: 0 auto 0 auto;
}

main .blog .header h3 {
    width: 100%;
    color: rgb(116, 67, 11);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: left;
}

main .blog .header .highlight {
    color: rgb(215, 150, 74);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: left;
}

main .blog .header .links {
    text-align: right;
}

main .blog .header .links a {
    text-align: right;
}

main .blog .header .links a.blog-link {
    margin: 0;
    width: fit-content;
    padding: 10px 15px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: rgb(215, 150, 74);
    border: 3px solid rgb(215, 150, 74);
    color: rgb(255, 255, 255);
    transition: 300ms;
}

main .blog .header .links a.blog-link i {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

main .blog .header .links a.blog-link:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(143, 99, 48);
    transition: 300ms;
}

@media screen and (max-width:969px) {
    main .blog-posts {
        gap: 60px 10px;
    }
    main .blog-posts .blog-post {
        width: 45%;
    }
    main .blog-posts .blog-post img {
        height: 150px;
    }
}

@media screen and (max-width:769px) {
    main .blog .header {
        flex-flow: column wrap;
        justify-content: center;
        margin: 0 auto 20px auto;
        gap: 20px;
    }
    main .blog .header .title {
        width: 100%;
    }
    main .blog .header .links {
        width: 100%;
    }
    main .blog .header h3 {
        text-align: center;
    }
    main .blog .header .highlight {
        text-align: center;
    }
    main .blog .header .links {
        text-align: center;
    }
    main .blog .header .links a {
        text-align: center;
    }
    main .blog .header .links a.blog-link {
        text-align: center;
    }
}


























/* Footer */


footer {
    margin: 70px auto 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}


footer .eleonora {
    background: rgb(98,98,98);
    background: -moz-radial-gradient(circle, rgb(59, 59, 59) 0%, rgb(28, 28, 28) 100%);
    background: -webkit-radial-gradient(circle, rgba(59, 59, 59,1) 0%, rgba(28, 28, 28,1) 100%);
    background: radial-gradient(circle, rgba(59, 59, 59,1) 0%, rgba(28, 28, 28,1) 100%);
    padding: 0;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 auto 0 auto;
}

footer .eleonora p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer .felfort-footer {
    width: 100%;
    padding: 60px 10px 50px 10px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-image: linear-gradient(rgba(78, 54, 28, 0.9), rgba(60, 37, 11, 1)), url(../imgs/footer.jpg);
    background-color: rgb(143, 99, 48);
    background-size: cover;
    background-position: center;
}

footer .felfort-footer .logo {
    width: 10%;
    align-self: center;
}

footer .felfort-footer .logo img {
    width: 100%;
}

footer .felfort-footer .sections1 {
    width: fit-content;
    font-size: 15px;
    font-weight: 400;
    padding: 0 50px 0 50px;
}

footer .felfort-footer .sections2 {
    width: 25%;
    font-size: 15px;
    font-weight: 400;
}

footer .felfort-footer .sections2 i {
    padding-right: 10px;
}

footer .felfort-footer .sections3 {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

footer .felfort-footer .sections3 ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

footer .felfort-footer .sections3 ul li {
    display: inline-block;
    margin: 0;
    padding: 5px;
}

footer .felfort-footer .sections3 li + li:before{
    content: " | ";
    padding: 0 5px;
}

footer .felfort-footer ul {
    list-style: none;
    padding: 0;
}

footer .felfort-footer ul li {
    padding: 3px;
}

footer .felfort-footer a {
    font-weight: 700;
    color: rgb(232, 207, 177);
    transition: 300ms;
}

footer .felfort-footer a:hover {
    font-weight: 700;
    color: rgb(255, 255, 255);
    transition: 300ms;
}


footer .felfort-footer h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
}

footer .felfort-footer .socials {
    width: 100%;
    font-size: 26px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}



@media (max-width: 969px) {
    footer .felfort-footer .logo {
        width: 15%;
        align-self: center;
    }
    footer .felfort-footer .sections2 {
        width: fit-content;
        font-size: 15px;
        margin: 40px auto 30px auto;
    }
}

@media (max-width: 768px) {
    footer .felfort-footer {
        
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    footer .felfort-footer .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    footer .felfort-footer .logo img {
        width: 40%;

        margin: 0 auto 0 auto;
    }
    footer .felfort-footer .sections1 {
        width: 30%;
        font-size: 15px;
        padding: 0;
        text-align: center;
    }

    footer .felfort-footer .sections1 ul {
        margin: 0;
    }
    
    footer .felfort-footer .sections2 {
        width: fit-content;
        font-size: 15px;
        margin: 40px auto 30px auto;
    }

}
